<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <ul class="navbar-nav mr-auto">

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown">
       E-Portal Links 
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/flx-ui-datatable">Server Side Pagination</a>
        <a class="dropdown-item" routerLink="/loadingbar-datatable">Loading Bar</a>
        <a class="dropdown-item" routerLink="/footer-template">Footer Template</a>
        <a class="dropdown-item" routerLink="/database-data-pagination">Database Data Pagination</a>
       
        
       
        
      </div>
    </li>
  </ul>
  <ul class="navbar-nav navbar-collapse justify-content-end">
    <!-- <li><a routerLink="/login" class="navbar-brand">Login</a></li> -->
    <li><a routerLink="/logout" class="navbar-brand">Logout</a></li>
  </ul>
</nav>