
<div class="container">
         <input
        type="text"
        style="padding:8px;margin:15px auto;width:25%;"
        placeholder="Name Filter..."
        (keyup)="nameFilter($event)"
      />
      <input
        type="text"
        style="padding:8px;margin:15px auto;width:25%;"
        placeholder="Country Code Filter..."
        (keyup)="countryCodeFilter($event)"
      />
      <input
        type="text"
        style="padding:8px;margin:15px auto;width:25%;"
        placeholder="District Filter...."
        (keyup)="districtFilter($event)"
      />
      <input
        type="text"
        style="padding:8px;margin:15px auto;width:25%;"
        placeholder="Population Filter..."
        (keyup)="populationFilter($event)"
      />
<ngx-datatable
class="material striped"
[rows]="rows"
[columns]="[{name:'ID'},{name:'Name'},{name:'Country Code'},{name:'District'},{name:'Population'}]"
[columnMode]="'force'"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="'auto'"
[externalPaging]="true"
[count]="page.totalElements"
[offset]="page.pageNumber"
[limit]="page.size"
(page)='setPage($event)'
>
</ngx-datatable>
</div> 